body {
    background-image: url('../Images/mountain background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
  
}
.panel {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 502px;
    height: 290px;
    justify-items: center;
    border-radius: 15px;
}
.heading {
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 24%;
    padding-top:20px;
    margin-bottom:20px;
}
.txtEmail {
    width: 187px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    left: 147px;
    top: 76px;
    right: 147px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.txtPassword {
    width: 187px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    left: 147px;
    top: 119px;
    right: 147px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
input[type=text] {
    border: 2px solid deepskyblue;
    border-radius: 2px;
}

.btnSignIn {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: deepskyblue;
    color: black;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 20px 2px 4px 184px;
    border-radius: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .btnSignIn:hover {
        background-color: #0080ff;
        font-weight: bold;
    }